body {
    background-image: url(../diskografie/img/bg_diskografie.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    margin-top: 0.7em;
    margin-left: 0.75em;
    font-size: 40px;
    border-bottom: solid 2px black;
}

h3 {
    margin-top: 0.2em;
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

ol {
    font-size: 17px;
}

main a {
    color: #212529;
    text-decoration: underline solid #212529;
}

main a:hover {
    color: #363d42;
    text-decoration: underline solid #363d42;
}

.album {
    margin-left: 1em;
    margin-top: 1em;
}

.alba {
    float: right;
    margin-right: 10em;
    margin-top: 1em;
    filter: drop-shadow(2px 4px 8px #3b3b3b);
    border-radius: 0.7em;
}

