body, html {
    height: 100%;
    margin: 0;
}

.pozadi {
    background-image: url(../img/bg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.75);
    z-index: 1;
}

.nadpis {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 1.2em;
    z-index: 2;
}

.tlacitka {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    top: 63%;
    width: 100%;
    z-index: 2;
}

.btn {
    background: linear-gradient(to right, #240b36, #c31432);
    width: 11em;
    height: 3.5em;
    border: none;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border-radius: 0 1.6em;
    position: relative;
    transition: all .6s;
}

.btn:hover {
    border-radius: 25px 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #240b36, #c31432);
    width: 100%;
    height: 100%;
    filter: blur(22px);
    transform: scale(0.9, 0.8) translateY(20px);
    z-index: -1;
    opacity: 0;
    transition: all .6s;
}

.btn:hover:before {
    opacity: 1;
}