body, html {
    height: 100%;
    margin: 0;
}

.pozadi {
    background-image: url(../img/bg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.75);
    z-index: 1;
}

.lang-select {
    margin: 0 auto;
    display: flex;
    cursor: pointer;
}

.nadpis {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 1.2em;
    z-index: 2;
}

#nadpis2 {
    font-size: 6em;
    font-weight: 350;
}

.tlacitka {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    top: 63%;
    width: 100%;
    z-index: 2;
}

.btn {
    background: linear-gradient(to right, #240b36, #c31432);
    width: 11em;
    height: 3.5em;
    border: none;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border-radius: 0 1.6em;
    position: relative;
    transition: all .6s;
}

.btn:hover {
    border-radius: 25px 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #240b36, #c31432);
    width: 100%;
    height: 100%;
    filter: blur(22px);
    transform: scale(0.9, 0.8) translateY(20px);
    z-index: -1;
    opacity: 0;
    transition: all .6s;
}

.btn:hover:before {
    opacity: 1;
}

.btn2 {
    left: auto;
    right: 0;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.226);
    border: solid 1px rgba(0, 0, 0, 0.226);
    color: gray;
}

.btn2:focus {
    outline: none;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.226);
    border: solid 1px rgba(0, 0, 0, 0.226);
    text-align: center;
}

.dropdown-item {
    font-size: 1em;
    color: gray;
}

.dropdown-item {
    text-align: center;
    transition: 0.6s;
}

.dropdown-item:hover {
    transition: 0.6s;
    background: rgba(0, 0, 0, 0.281);
    color: rgb(168, 168, 168);
}

.content {
    z-index: 2;
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -0%);
    text-align: center;
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    main {
        width: 90%;
    }
    .content {
        font-size: 1em;
    }
}

@media only screen and (max-width: 800px) {
   .content {
       font-size: 0.8em;
   } 
}

@media only screen and (max-width: 500px) {
   .content {
       font-size: 0.7em;
   } 
}