body {
    background-image: url(../oceneni/img/bg_oceneni.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

table {
    margin-top: 1.5em;
    background-color: rgba(184, 184, 184, 0.4);
}

table, td, th {
    border: 2px solid black !important;
    border-collapse: collapse;
    text-align: center;
    padding-right: 0.75em;
    padding-left: 0.75em;
    font-size: 16px;
}

.center {
    vertical-align: middle !important;
}

.nom {
background-color: rgba(220, 20, 60, 0.4);
}

.won {
    background-color: rgba(128, 255, 0, 0.4);
}

.zahlavi {
    background-color: rgba(158, 158, 158, 0.4);
}

.rok {
    background-color: rgba(158, 158, 158, 0.4);
}

@media only screen and (max-width: 400px) {
    table, td, th {
        padding-right: 0.5em !important;
        padding-left: 0.5em !important;
    } 
 }