footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
}

.autor {
    text-align: center;
    margin: auto;
}

.odkazy {
    color: #f8f9fa;
}

.site {
    margin-top: auto;
    margin-bottom: auto;
}

.footer-odkaz {
    color: #6c757d;
}

.footer-odkaz:hover {
    color: #6c757d;
}

.nav-link {
    color: #f8f9fa !important;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.466);
    border: solid 1px rgba(0, 0, 0, 0.445);
    text-align: center;
}

.dropdown-item {
    font-size: 1em;
    color: #f8f9fa;
}

.dropdown-item {
    text-align: center;
    transition: 0.6s;
}

.dropdown-item:hover {
    transition: 0.6s;
    background: rgba(0, 0, 0, 0.281);
    color: rgb(214, 214, 214);
}

.active {
    font-weight: 750;
}