footer {
    margin-top: 1.5em;
}

header {
    margin-top: 1.75em;
    background-color: rgba(238, 238, 238, 0.856);
    border-radius: 0.4em;
    border: 2px solid black;
}

header h1 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

main {
    margin-top: 2em;
    border: 2px solid black;
    background-color: rgba(238, 238, 238, 0.856);
    border-radius: 0.4em;
}

.autor {
    text-align: center;
    margin: auto;
}

.odkazy {
    color: #f8f9fa;
}

.site {
    margin-top: auto;
    margin-bottom: auto;
}

.footer-odkaz {
    color: #6c757d;
}

.footer-odkaz:hover {
    color: #6c757d;
}

.nav-link {
    color: #f8f9fa !important;
    text-decoration: none;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.466);
    border: solid 1px rgba(0, 0, 0, 0.445);
    text-align: center;
}

.dropdown-item {
    font-size: 1em;
    color: #f8f9fa;
}

.dropdown-item {
    text-align: center;
    transition: 0.6s;
}

.dropdown-item:hover {
    transition: 0.6s;
    background: rgba(0, 0, 0, 0.281);
    color: rgb(214, 214, 214);
}

.active {
    font-weight: 750;
}