body {
    background-image: url(../videografie/img/bg_videografie.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    margin-top: 0.7em;
    margin-left: 0.75em;
    font-size: 40px;
    border-bottom: solid 2px black;
}

h3 {
    margin-top: 0.2em;
    font-size: 28px;
}

.ukazka {
    margin-top: 1em;
}

.box {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* tato hodnota určuje poměr, 4:3 = 75%, 3:2 = 66%, 16:9 = 56.25% */
}

.box iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.7em;
    filter: drop-shadow(2px 4px 8px #3b3b3b);
}

.videa {
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.zarovnani {
    margin-top: 4em;
}

.zarovnani2 {
    margin-top: 2.5em;
}

.videa p {
    font-size: 17px;
}

main a {
    color: #212529;
    text-decoration: underline solid #212529;
}

main a:hover {
    color: #363d42;
    text-decoration: underline solid #363d42;
}

@media only screen and (max-width: 767px) {
    .videa {
        margin-left: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .zarovnani {
        margin-top: 1em;
    }
    .zarovnani2 {
        margin-top: 1em;
    }
 }

 @media only screen and (max-width: 600px) {
    .videa {
        margin-left: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    h2 {
        margin-left: 0.5em;
    }
 }

 @media only screen and (max-width: 480px) {
    h1 {
        font-size: 69px !important;
    }
 }

 @media only screen and (max-width: 385px) {
    h1 {
        font-size: 65px !important;
    }
 }